/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When to run the module.
----------------------------------------------------------------------------------------
*/

// BENCHMARKING

process {

    withName: 'PREPROCESS_QUERY_VCF' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/benchmarking/${meta.id}/" },
            pattern: "*.norm.vcf.gz{,.tbi}"
        ]
    }

    withName: 'BENCHMARK_HAPPY' {
        ext.prefix = { "${meta.id}" }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/benchmarking/${meta.id}/" },
            pattern: "*.{summary.csv,extended.csv}"
        ]
    }

    withName: 'EXTRACT_METRICS' {
        publishDir = [
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/benchmarking/${meta.id}/" },
                pattern: "metrics.json"
            ],
            [
                mode: params.publish_dir_mode,
                path: { "${params.outdir}/${workflow.runName}/" },
                pattern: "metrics.json"
            ]
        ]
    }
}
